/* HEADER STYLING */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(123, 152, 215);
  padding-left: 2em;
  padding-right: 2em;
}

header img {
  width: 3em;
  height: 3em;
}

header img:hover, h2:hover {
  cursor: pointer;
  background-color: antiquewhite;
}


/* INDEX PAGE STYLING */
.index-img {
  max-width: 30em;
  max-height: 30em;
}


/* SHOP PAGE STYLING */
.inventory-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.inventory-item{
  background-color: lightgray;
  width: 25%;
  text-align: center;
}

.inventory-item img {
  max-width: 10em;
  max-height: 10em;
}

.index img {
    max-width: 10em;
    max-height: 10em;
}

.index p {
    margin-top: -20px;
}

.index button {
    display: block;
    margin: 10px;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
    margin: 0 auto;
}


/* CART PAGE STYLING */
.cart-div{
  border:2px solid gold;
}
