/* HEADER STYLING */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #42a0ff;
  color: white;
  min-height: 5em;
}

header img {
  width: 3em;
  height: 3em;
}

.logo, header h2, header div {
  border-radius: 10px;
  border-style: solid;
  border-color: #42a0ff;
}

.logo:hover, header h2:hover {
  cursor: pointer;
  background-color: #42a0ff;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

header h3 {
    display: inline;
}

header div:hover{
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 0;
}

.logo {
    width: 200px;
    max-height: 2.5em;
}

@media only screen and (max-width: 700px) {
  header {
    min-height: 1em;
  }

  .logo, header h2, header div {
    border-radius: 10px;
    border-style: 2px solid;
    border-color: #42a0ff;
    border-width: 1px;
  }

  .logo:hover, header h2:hover, header div:hover{
    cursor: pointer;
    background-color: #42a0ff;
    border-radius: 10px;
    border-style: 2px solid;
    border-color: white;
    border-width: 1px;
  }
  header img {
      max-height: 2em;
      max-width: 2em
  }
  .logo {
      max-height: 2em;
      max-width: 150px;
  }
}



/* INDEX PAGE STYLING */
.welcome-msg {
  text-align: center;
}

.welcome-msg span {
  color: red;
  font-weight: 900;
}

.welcome-msg h3 {
  margin-top: 5em;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-item {
  text-align: center;
}

.carousel-img {
  width: 30em;
  height: 25em;
  padding: 2em 5em
}


/* SHOP PAGE STYLING */
.inventory-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: -8em;
  margin-left: 5em;
}

.inventory-item {
  background-color: white;
  width: 15%;
  text-align: center;
  color: #81B3E6;
  padding: 1em 0.5em;
  border-style: solid;
  border-color: #364C61;
}

.inventoryItem :hover {
    background-color: lightgray;
}

.inventory-item img {
  max-width: 10em;
  max-height: 10em;
  padding: 1em;
}

.search {
    display: block;
    margin: 1em auto;
    padding: 1em;
    width: 50%;
    border-color: #364C61;
    color: #42a0ff;
}

.imageContainer {
    display: inline-flex;
    width: 150px;
    height: 150px;
    justify-content: center;
}

.filter {
    background-color: white;
    border: none;
    padding: 1em;
    display: block;
}

@media only screen and (max-width: 1300px) {
  .inventory-item {
    width: 20%;
  }
}

@media only screen and (max-width: 1200px) {
  .inventory-item {
    width: 30%;
  }
  .inventory-container {
      margin-top: 2em;
      margin-left: auto;
  }
  .filterContainer {
      display: flex;
      justify-content: space-around;
      margin-bottom: -1em;
  }
}

@media only screen and (max-width: 700px) {
  .inventory-item {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .inventory-item {
    width: 80%;
  }
}

/* CART PAGE STYLING */
.cart-div{
  display: block;
  flex-wrap: wrap;
  margin: 1em;
}

.cart-div img {
    max-width: 200px;
    max-height: 100px;
}

.cart-card {
    background-color: white;
    color: #42a0ff;
    padding: 20px;
    text-align: left;
    border-style: solid;
    border-color: #364C61;
}

.cart-card h3, .cart-card p {
    display: inline;
}

@media only screen and (max-width: 700px) {
  .cart-card {
    text-align: center;
  }
  .cart-card h3 {
      display: block;
  }
}



/* LOGIN / CREATE ACCOUNT STYLING */
.login-create-form {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  color: red;
  text-align: center;
  font-size: 1.75em;
}

/* styling on the total PAGE */
.parent-flex{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  align-items: flex-start;
  margin-top: 2em;
}

.details{
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width:600px;
  height:616px;
}

.address{
  display: flex;
  justify-content: center;
  width:100%;
  border: 2px solid gray;
  border-radius: 4px;
  height:230px;
}

.street1{
  width:180px;
  margin-left: 5px;
}

.street2{
  width:180px;
}

.street2{
  width:190px;
}

.voucher{
  width:120px;
  margin-right: 5px;
}

.delivery{
  width:100%;
  border: 2px solid gray;
  border-radius: 4px;
  height:250px;
}

.options{
  margin-left: 10px;
}

.input{
  margin-bottom: 10px;
}

.green{
  color: green;
  font-weight: bold;
}
.total{
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:300px;
  border: 2px solid gray;
  border-radius: 4px;
  margin-bottom: 20px;
}

.place-order{
  display: flex;
  flex-wrap: wrap;
  width:90%;
  height:90px;
  justify-content: center;
  text-align: center;
}

.place-order button{
  width: 100%;
  margin-top: 10px;
  height: 25px;
  background-color:rgb(255, 215, 0);
  font-weight: bold;
  cursor:pointer;
}
.order-summary{
  display: flex;
  width:90%;
  height:40px;
}

.order-items{
  display: flex;
  width: 90%;
  height:45px;
  justify-content:space-between;
}

.order-total{
  display: flex;
  width: 90%;
  height:45px;
  justify-content:space-between;
  margin-bottom: 10px;
  color: red;
}

.blue{
  color: blue;
}

.underline{
  border-bottom: 2px solid gray;
}

.bottom-border{
  border-bottom: 2px solid gray;
}

.order-bottom{
  color:blue;
  text-align: center;
  border-top: 2px solid gray;
  background:rgb(240,240,240);
}

/* MISCELLANEOUS STYLING */

.inline {
    display: inline-block;
}

.block {
    display: block;
    margin: 0 1em;
}

#cart-price {
  display: flex;
  justify-content: center;
}

.button {
    background-color: #42a0ff;
    margin: 5px;
    color: white;
    border: none;
}

.button:hover {
    background-color: #364C61;
}

.filter {
    background-color: white;
    border: none;
    padding: 1em;
    display: block;
}

.filter:hover {
    background-color: #42a0ff;
    color: white;
}

.index-button {
    background-color: white;
    border: none;
    color: #42a0ff;
}

.index-button:hover {
    color: #364C61;
}
